<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Sistema de Cadastro de pacientes</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/cadastrarPaciente">Cadastrar paciente</a></li>
        <li routerLinkActive="active"><a routerLink="/listarPaciente">Listar paciente</a></li>
        <li routerLinkActive="active"><a routerLink="/identificador">TESTE Inserir identificdor</a></li>
      </ul>
    </div>
  </div>
</nav>
