<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="pacienteForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <h1>Cadastro das comunicações com o paciente</h1>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="mc">Meio de comunicação:</label>
            <select class="form-control" id="mc" formControlName="meioComunicacao" required>
              <option value="">Selecione</option>
              <option *ngFor="let meioComunicacao of meiosComunicacao" [ngValue]="meioComunicacao">{{ meioComunicacao.descricao }}</option>
            </select>
          </div>
        </div>
      </div>  
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="mc">Preferência:</label>
            <select class="form-control" id="mc" formControlName="preferencia" required>
              <option value="">Selecione</option>
              <option *ngFor="let preferencia of preferenciasContato" [ngValue]="preferencia">{{ preferencia.descricao }}</option>
            </select>
          </div>
        </div>
      </div>   
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="desc">Telefone</label>
            <input
              type="text"
              id="desc"
              formControlName="descricao"
              class="form-control">
          </div>
        </div>   
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="util">Utilização:</label>
            <select class="form-control" id="util" formControlName="utilizacao" required>
              <option value="">Selecione</option>
              <option *ngFor="let utilizacao of utilizacoesContato" [ngValue]="utilizacao">{{ utilizacao.descricao }}</option>
            </select>
          </div>
        </div>
      </div>  
      <hr>
        <div class="row">
          <div class="col-xs-12">
            <button
              type="submit"
              class="btn btn-primary">Próximo
            </button>
          </div>
        </div>  
    </form>
  </div>
</div>
