<h1>Informações Demográficas</h1>


<form >
  Data de Nascimento:
  <input type="date" name="bday">
</form>

<form >
  Data de Óbito:
  <input type="date" name="bday">
</form>
Sexo
<form action="">
    <input type="radio" name="gender" value="male"> Masculino
    <input type="radio" name="gender" value="female"> Femenino
</form>

Situação Famíliar
<form action="">
    <input type="radio" name="sitfamiliar" value="solterio"> Solteira(o)
    <input type="radio" name="sitfamiliar" value="casado"> Casada(o)
</form>

Filiação
<form>
    Nome da Mãe:
    <input type="text" name="maename"><br>
    Nome do Pai:
    <input type="text" name="painame">
  </form>

  Raça/Cor
  <form action="">
      <input type="radio" name="race_color" value="branco"> Branca(o)
      <input type="radio" name="race_color" value="negro"> Negra(o)
      <input type="radio" name="race_color" value="parda"> Parda(o)
  </form>

  Nascionalidade
  <form>
      Município:
      <input type="text" name="maename"><br>
      Estado:
      <input type="text" name="painame">
      País:
      <input type="text" name="painame">
    </form>  


